# Ignore large data and output files
Data/
Results/
Outputs/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore Mac system files
.DS_Store

# Track everything in Scripts/ and notebooks/